<IfModule mod_dir.c>
  DirectoryIndex router.php
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule (/public/.*) /site/public/$1 [NC,L] 
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) router.php/$1 [NC,L]
</IfModule>
