Options -Indexes

<Files COPYING>
  Deny from all
</Files>

<Files README>
  Deny from all
</Files>

<IfModule mod_dir.c>
  DirectoryIndex router.php
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on

  # Depending on your Apache configuration, you might need to set
  # the RewriteBase directive below to the URL where you want to
  # deploy your Textura application.
  #
  # RewriteBase /some/nice/url

  # Add /s and /static as aliases for static content
  RewriteRule ^s/(.*) site/static/$1 [NC,L]
  RewriteRule ^static/(.*) site/static/$1 [NC,L]

  # Let router handle everything else
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule (.*) router.php/$1 [NC,L]
</IfModule>
