!!! XML
!!! 1.1
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv")
  %head
    %title Welcome to Textura!
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %link(href="#{$controller->rs('style')}" rel="StyleSheet" type="text/css")
  %body
    %div#main_div
      %h3 Welcome to Textura!
      %p
        First off, thanks for trying Textura! You are just a few tiny steps away from  
        completing the installation. In just a few moments you will have your very own
        instance of Textura up and running. Just follow the instruction below.