---
controllers:
  controller_map:
    - class: MainController     # Name of controller class
      path: /                   # Path that controller maps to
      active: Yes               # Is the controller active (Yes/No)?
      default_action: index     # What method to call if no action is specified
    - class: FooController
      path: /foo
      active: Yes
      default_action: index
database:
  adapter: sqlite               # Name of adapter (only sqlite at the moment)
  params:                       # Parameters sent to adapter (dependant on adapter type)
    filename: /path/to/db       # Path to SQLite database
    log_queries: Yes            # Should queries be logged (Yes/No)?
    log_method: file            # Where should queries be logged ('file' or 'db')
                                # Only 'file' is implemented at the moment
    log_placement:              # If log_method is set to 'file', this parameter
                                # represents the filename where the logs should be stored.
                                # If log_method is 'db', this parameter represents the
                                # table name taht should be used for logging.
debugging:
  allow_debugging: No           # Should debug info be allowed to be sent to
                                # the client (Yes/No)?
  show_errors: No               # Should the error message be shown when an
                                # exception is thrown (Yes/No)?
  show_backtraces: No           # Should the backtrace be shown when an
                                # exception is thrown (Yes/No)?
plugins:
  - name: FormBuilder           # Loads the FormBuilder plugin. Since the FormBuilder
                                # plugin is a standard plugin, no more information is
                                # needed in order to load the plugin.
  - name: MyPlugin              # Your very own plugin
    plugin_dir: /plugin/dir     # Textura's plugins are located in src/textura/plugins,
                                # but your plugin is probabably located somewhere else.
                                # This setting specifies in which directory your plugin
                                # class is located.
    plugin_file: MyPlugin.php   # File name for your plugin. If left unspecified,
                                # the file name of the plugin is expected to match
                                # "{$name}Plugin.php".
    plugin_class: MyPlugin      # Since it is allowed to have several classes in the
                                # same PHP file Textura needs to know what class in
                                # the plugin file that should be used as a plugin class.
                                # If this setting is left unspecified, the class name is
                                # expected to match "{$name}Plugin".
    plugin_namespace: my_ns     # If your plugin class lives in a namespace other than
                                # the toplevel namespace, you need to specify the
                                # namespace in this setting. If left unspecified,
                                # Textura will assume that your plugin class lives in
                                # the toplevel namespace.