---
controllers:
  controller_map:
    - class: MainController     # Name of controller class
      path: /                   # Path that controller maps to
      active: Yes               # Is the controller active (Yes/No)?
      default_action: index     # What method to call if no action is specified
    - class: FooController
      path: /foo
      active: Yes
      default_action: index
database:
  adapter: sqlite               # Name of adapter (only sqlite at the moment)
  params:                       # Parameters sent to adapter (dependant on adapter type)
    filename: /path/to/db       # Path to SQLite database
    log_queries: Yes            # Should queries be logged (Yes/No)?
    log_method: file            # Where should queries be logged ('file' or 'db')
                                # Only 'file' is implemented at the moment
    log_placement:              # If log_method is set to 'file', this parameter
                                # represents the filename where the logs should be stored.
                                # If log_method is 'db', this parameter represents the
                                # table name taht should be used for logging.
debugging:
  allow_debugging: No           # Should debug info be allowed to be sent to
                                # the client (Yes/No)?
  show_errors: No               # Should the error message be shown when an
                                # exception is thrown (Yes/No)?
  show_backtraces: No           # Should the backtrace be shown when an
                                # exception is thrown (Yes/No)?